@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-image: radial-gradient(circle, rgb(11, 0, 164), rgb(7, 0, 46));
    width: 100vw;
}
#root{
    width: 100vw;
}
.name-title:hover h1{
    width: auto;
    transition: 2000ms ease-out;
}
#title-container{
    text-shadow: 4px 4px 4px black;
    transition: 1000ms ease-out;
}

.card-container{   
    position: relative;;
    transform-style: preserve-3d;
    transition: 1500ms;
}
.isFlipped{
    transform: rotateY(180deg);
}
.front, .back{
    border-radius: 1em;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}
.back{
    background-color: #808080;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}